
<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">添加用户</h4>
            </div>
            <div class="modal-body">输入用户信息</div>
            <div class="container">

                <form action="/erp/customer_add/" method="post">

                  {% csrf_token %}
                  {{ form.non_field_errors }}
                  <div class="fieldWrapper">
                      {{ form.useracc.errors }}
                      <label for="{{ form.useracc.id_for_label }}">账号:</label>
                      {{ form.useracc }}
                  </div>
                  <div class="fieldWrapper">
                      {{ form.password.errors }}
                      <label for="{{ form.password.id_for_label }}">密码:</label>
                      {{ form.password }}
                  </div>
                  <div class="fieldWrapper">
                      {{ form.password2.errors }}
                      <label for="{{ form.password2.id_for_label }}">确认密码:</label>
                      {{ form.password2 }}
                  </div>
                  <div class="fieldWrapper">
                      {{ form.name.errors }}
                      <label for="{{ form.name.id_for_label }}">姓名:</label>
                      {{ form.name }}
                  </div>
                  <div class="fieldWrapper">
                      {{ form.phone.errors }}
                      <label for="{{ form.phone.id_for_label }}">电话:</label>
                      {{ form.phone }}
                  </div>
                  <input type="submit" value="Submit" />
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
