{# Load the tag library #}
{% load bootstrap3 %}
<div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="padding:10px 40px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">编辑用户</h4>
            </div>
            <div class="modal-body">输入用户信息</div>
            {# Display a form #}
            <form action="/url/to/submit/" method="post" class="form">
              {% csrf_token %}
              {% bootstrap_form custform %}
              {% buttons %}
                <button type="submit" class="btn btn-primary">
                  {% bootstrap_icon "star" %} Submit
                </button>
              {% endbuttons %}
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="confirm btn btn-primary">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
