{# Load the tag library #}
{% load bootstrap3 %}
<div class="modal fade" id="setPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="padding:10px 40px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" class="myModalLabel">修改密码</h4>
            </div>

            {# Display a form #}
            {{ form.non_field_errors }}
            <form action="/erp/set_password/" method="post" class="form form-horizontal">
              {% csrf_token %}
              <div class="box-body">
                  <div class="form-group">
                      <label for="old_password" class="col-sm-2 control-label"><span style="color:red"><b>* </b></span>原密码:</label>
                      <div class="col-sm-10">
                      <input class="form-control" id="old_password" maxlength="128" name="user-password" placeholder="请输入原密码" type="password" required="">
                    </div>
                  </div>
                  <div class="form-group">
                      <label for="new_password" class="col-sm-2 control-label"><span style="color:red"><b>* </b></span>新密码:</label>
                      <div class="col-sm-10">
                      <input class="form-control" id="new_password" maxlength="128" name="user-password" placeholder="6位以上英文字符" type="password" required="">
                    </div>
                  </div>
                  <div class="form-group">
                      <label for="confirm_password" class="col-sm-2 control-label"><span style="color:red"><b>* </b></span>确认新密码:</label>
                      <div class="col-sm-10">
                      <input class="form-control" id="confirm_password" maxlength="10" minlength="6" name="user-confirm_password" placeholder="请确认新密码" type="password" required="">
                    </div>
                  </div>
              </div>
            </form>
            <div class="modal-footer">
              <div style="text-align:left">注：修改密码后需重新登录</div>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="confirm btn btn-primary">保存</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
