{% extends 'erp/base/base.html' %}
{% block title %}永兰WMS系统 | 登录{% endblock %}

  {% block headers %}
  <style>
    .login-page{height: 80%;}
    /*body{background-color: #d2d6de;}*/
  </style>
  {% endblock %}
{% block content %}
<body class="hold-transition register-page">
<div class="register-box">
  <div class="register-logo">
    <a href="/erp">永兰科技 - WMS系统</a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">注 册</p>

    <form action="/static/erp/index.html" method="post">
      {% csrf_token %}
      <div class="form-group has-feedback">
        <input type="text" name="username" class="form-control" placeholder="用户名">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="密码">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="确认密码">
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> 同意 <a href="#">条款</a>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">注册</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <br>
    <a href="/erp/login" class="text-center">已有账号,现在登录</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->

</body>
{% endblock %}

{% block scripts %}{% endblock %}
