{% extends 'erp/base/main.html' %}
{% block title %}系统设置{% endblock %}
<style>
button.topbutton{padding:3px 5px;}

</style>

{% block breadcrumb %}
  <li class="active">系统设置</li>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-1 col-md-3">
    <button type="button" class="topbutton btn btn-block btn-primary" data-toggle="modal" data-target="#addUser">添加</button>
  </div>
  <div class="col-lg-1 col-md-3">
    <button id="testEvent" type="button" class="topbutton btn btn-block btn-primary">Test</button>
  </div>
  <div class="col-lg-1 col-md-3">
    <button id="testbt" type="button" class="topbutton btn btn-block btn-primary">Notice</button>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
// *******************系统设置********************



</script>

{% endblock %}
