{% extends 'erp/base/main.html' %}
{% block title %}WMS System{% endblock %}
{% block content %}

<h2>Bootstrap Demo</h2>

<h3>创建模态框（Modal）</h3>
<!-- 按钮触发模态框 -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">开始演示模态框</button>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">添加用户</h4>
            </div>
            <div class="modal-body">输入用户信息</div>
            {% include "erp/customer/add.html" %}
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
{% block scripts %}
<script>
$(document).ready(function(){
  $('#myModal').on('show.bs.modal', function () {
    alert("Hi!!!");
  });
});
</script>
{% endblock %}

{% endblock %}
