{% extends 'erp/base/main.html' %}
{% block title %}客户管理{% endblock %}
<style>
button.topbutton{padding:3px 5px;}
</style>

{% block breadcrumb %}
  <li class="active">客户管理</li>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-1 col-md-3">
    <button type="button" class="topbutton btn btn-block btn-primary" data-toggle="modal" data-target="#addUser">添加</button>
  </div>
  <div class="col-lg-1 col-md-3">
    <button id="testEvent" type="button" class="topbutton btn btn-block btn-primary">Test</button>
  </div>
  <div class="col-lg-1 col-md-3">
    <button id="testbt" type="button" class="topbutton btn btn-block btn-primary">Notice</button>
  </div>
</div>
  <!-- Customer List -->
  {% include "erp/customer/list.html" %}
  {% include "erp/customer/add.html" %}
  {% include "erp/customer/edit.html" %}
  {% include "erp/customer/del.html" %}
  {% include "erp/customer/freeze.html" %}
  <!-- 模态框（Modal） -->
  {% include "erp/customer/edit.html" %}

{% block scripts %}

<script>
// *******************用户管理********************



$(document).ready(function(){

  user_event();

  // 删除用户
  $('#delUser').on('show.bs.modal', function () {
    $('#delUser b').text(USER);
  });

  $("#delUser button.confirm").click(function(){
    console.log("User to be Del:"+USER);
    $('#delUser').modal('hide');
    user_ajax('del',USER);
    $("#userlist [name="+USER+"]").remove();
  });

  // 添加用户(AJAX)
  $("#addUser button.confirm").click(function(){
    console.log("User to be Add:"+USER);
    $('#addUser').modal('hide');
    form_ajax('/erp/ajax_test/');

  });



});

// **** Edit
/*
$(document).ready(function(){
  user_event('edit');
  $("#editUser button.confirm").click(function(){
    console.log("User to be Update:"+USER_EDIT);
    $('#editUser').modal('hide');
    var obj = $('#editUser  form').serializeJSON();
    var jsonString = JSON.stringify(obj);
    console.log("Data:"+jsonString);
    var resmsg = user_ajax('edit',USER_EDIT);
    //notice('ok','已删除');
    notice('info',resmsg);
  });
});
*/


//* **************Test: http ajax请求*****************
$(document).ready(function(){
  $("#testEvent").click(function(){
    axios.post('/erp/ajax_test/', {
    firstName: 'Fred',
    lastName: 'Flintstone'
    },AXIOS_CONFIG)
  .then(function (response) {
    toastr.success(response.data);
    console.log(response);
    })
  });
});
// *******************动态显示alert********************
$(document).ready(function(){
  // Test: toast消息
  $("#testbt").click(function(){
    notice('ok','Test message...');
  });
});
// ********************用户管理************************

/*
$(document).ready(function(){
  $('#addUser').on('show.bs.modal', function () {
    alert("Hi!!!");
  });
});
*/
// Test
$(function() {
  $("#myDiv div").click(function(){ //如何设置点击哪一个div就执行哪个
   //代码
  });
});

// Test:用户列表点击事件
/*
$("#userlist tr td").each(function (i) {
  $(this).click(function(){
    console.log("索引："+$(this).index()+"\nUser:"+$(this).parents("tr").attr('name'));
    alert("内容："+$(this).parents("tr").html());
   });
});
*/



</script>

{% endblock %}

{% endblock %}
