{% extends 'erp/base/main.html' %}
{% block title %}首页{% endblock %}
{% block content %}
<h3>首页</h3>
<div class="row">
  <div class="col-lg-1 col-md-3">
    <button type="button" class="topbutton btn btn-block btn-primary" data-toggle="modal" data-target="#addUser">添加</button>
  </div>
  <div class="col-lg-1 col-md-3">
    <button id="testEvent" type="button" class="topbutton btn btn-block btn-primary">Test</button>
  </div>
  <div class="col-lg-1 col-md-3">
    <button id="testbt" type="button" class="topbutton btn btn-block btn-primary">Notice</button>
  </div>
</div>

<!-- Ajax test-->

    <div id="results">ajax-test container...</div> <!-- errors go here -->
    <button type="button" id="ajaxtest" data-toggle="modal" data-target="#addUser">
      测试
    </button>

    <h3>vuetest</h3>

    <div id="app"></div>

    <div id="app-3">
    <p v-if="seen">Now you see me</p>
  </div>

{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/vue/dist/vue.js">
// Vue.js

var app = new Vue({
  delimiters: ['${', '}'],
  el: '#app',
  data: {
    message: 'Hello Vue!'
  }
})

var app3 = new Vue({
  el: '#app-3',
  data: {
    seen: true
  }
})







</script>

<script>
//* **************Test: http ajax请求*****************
$(document).ready(function(){
  $("#testEvent").click(function(){
    axios.post('/erp/ajax_test/', {
    firstName: 'Fred',
    lastName: 'Flintstone'
    },AXIOS_CONFIG)
  .then(function (response) {
    toastr.success(response.data.msg);
    console.log(response);
    })
  });
});
// *******************动态显示alert********************
$(document).ready(function(){
  // Test: toast消息
  $("#testbt").click(function(){
    notice('ok','Test message...');
  });
});
</script>
{% endblock %}
